$spacing: (
  gap: 20px,
  maxWidthForDesktop: 1120px,
  maxWidthForMobile: 600px,
  breakpoint: 600px
);

// With :export, JavaScript can import this $spacing variable. Good stuff! 
:export {
  @each $key, $value in $spacing {
    #{$key}: #{$value};
  }
}