$spacing: (
  gap: 20,
  maxWidthForDesktop: 1120,
  maxWidthForMobile: 600,
  breakpoint: 600
);

// With :export, JavaScript can import this $spacing variable. Good stuff! 
:export {
  @each $key, $value in $spacing {
    #{$key}: #{$value};
  }
}