@use 'sass:map';
@import '../../../styles/spacing.module.scss';

.a-row {
  display: flex;
  flex-direction: row;
  width: inherit;

  & > * + * {
    margin-left: map.get($spacing, "gap") + px;
  }
}