// This box will use aspect ratio.
// background and padding-top will be set later on.
.a-box {
  position: relative;
  position: relative;
  overflow: hidden;
  width: inherit;

  &__inside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
  }
};