@use 'sass:map';
@import '../../../styles/spacing.module.scss';

.a-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: auto;

  & > * + * {
    margin-top: map.get($spacing, "gap") + px;
  }
}